@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-con {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #main-page-nav {
        display: flex;
    }
    #experience, .experience-details-con {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__p-pic {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .section__pic-con {
        display: none;
    }
    .about-con {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-con, .contact-info-upper-con, .btn-con {
        flex-wrap: wrap;
    }
    .contact-info-con {
        margin: 0;
    }
    .contact-info-con p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-con, .section__p-pic {
        width: auto;
        height: 25vh;
        justify-content: center;
    }
    .section__text1 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-con {
        text-align: justify;
    }
}